body {
  background-color: #13a0dd;
  color: #fdffff;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}
button {
  padding: 5px 20px;
  background-color: #34af9c;
  color: #fdffff;
  border-style: none;
  
}
input {
  height: 20px;
}